.header-wrapper {
    background-color: red;
    padding: 1em;
    color: #fff;
    font-family: Roboto, sans-serif;
}

.header-wrapper-text {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 1em;
    margin-right: 1em;
}

.header-label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}